@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,100;1,700&display=swap');



body{
    font-family:'Roboto', sans-serif;
    margin: 0px;
    padding: 0px;
}

main{
    padding: 16px;
    margin-bottom: 10px;
}

footer{
    padding-top: 30px;
    padding-bottom: 30px;
    padding-right: 16px;
    padding-left: 16px;
    position: auto;
    background-color: #CFC0BD;
    font-size: 18px;
}

img{
    height: 200px;
    box-shadow: 10px 0px 10px #d8603b;
}

nav {
    border-bottom: 1px solid black;
    padding: 16px;
    background-color: #586F6B
}

a{
    text-decoration: none;
    color: #586F6B;
}

#mainpage{
    color: white;
}


a:hover{
    background-color: #e89e88;
}

.container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 1px;
}

tr:nth-child(even){
    background-color:#eee2db;
}

li:nth-child(even){
    background-color:#eee2db;
}


h1{
    color: #586F6B;
    display: flex;
    direction: column
    align-items: center;
    justify-content: center;
}

h2{
    display: flex;
    direction: column
    align-items: center;
    justify-content: center;
}
